body{
    background-color: antiquewhite;
    background-size: cover;
    align-items: center;
    
}

label{
    font-weight: bolder;
    font-size: 40px;
    
}

option{
    color: rgb(26, 0, 219);
    font-weight: bolder;
    font-size: 20px;

}

